.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.tarjeta--agua
  background-color: #addbd5
.acordion__activo
  background-color: #f6f6f6
.cajonb-p
  .cajon-b:before
    bottom: 80% !important
.cajon-b.color-secundario:before
  background-color: #cdf0e4
  opacity: 1
.card-linea
  background-image: url(../assets/curso/temas/tema1/card-linea.svg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
